<% include partials/header %>

<form action='/signup' method='post' class='login'>
	<h1>Sign Up</h1>
	<h3 class='error_message'><%= signupSuccess ? "" : "User Name Already Taken" %></h3>
    <input type='text' name='username' placeholder='username' class='loginElem'>
    <input type='password' name='password' placeholder='password' class='loginElem'>
    <button class='loginElem'>Submit</button>
</form>