.error_message{
	color: red;
}
.info{
	margin-left: 20px;
	display: none;
}
.incident{
	margin-left: 20px;
}
.forecastDate{
	width:20%;
	float: left;
}
#spotify{
	height: 75px;
}
.btn{
	float: right;
	margin: 10px;
}
.header{
	background-color: #c5d0e2;
}
#locality{
	color: #006dcc;
}
#address{
	margin-left: 50%;
}
.toggle{
	color: #006dcc;
	display: inline-block;
}
